.d-block{
    font-size: 18px;
}

/* Initial state of the users list: hidden */
.reaction .users {
    display: none;
    position: absolute; /* or your preferred positioning method */
    /* Additional styles for the tooltip appearance */
    background-color: #f9f9f9;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    z-index: 1;
}

/* When hovering over the reaction span, show the users list */
.reaction:hover .users {
    display: block;
    /* You might want to adjust the positioning to fit your layout */
}
